* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  background-color: #025a75;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center; }

/*INDEX*/
.conteiner__fluid {
  text-shadow: 2px 2px black; }

.galeria {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr); }

.p__datos {
  font-size: 45px;
  border-color: black;
  border-style: solid;
  text-align: center;
  background-image: linear-gradient(#fcfcfc, skyblue); }

.img__elemento1 p {
  font-size: 2rem;
  color: white;
  background-color: #317dbe; }

.img__elemento2 p {
  font-size: 2rem;
  background-color: #317dbe;
  color: white; }

.img__elemento3 p {
  font-size: 2rem;
  background-color: #317dbe;
  color: white; }

.p__index {
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  margin: 10px; }

.galeria__sponsor1 {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1.5fr);
  justify-items: center; }

.img__kappa {
  width: 80%; }

.img__aeroset1 {
  width: 55%; }

.titulo__galeria {
  background-color: white;
  color: #025a75;
  text-align: center; }

#carouselExampleIndicators {
  width: 70%; }

.footer-container {
  width: 100%;
  margin: auto; }

.columnas__footer {
  width: 33.333%;
  float: left;
  background-color: gray;
  color: white; }

.titulo__footer {
  color: white; }

/*NOTICIAS*/
#Menu__bs a {
  font-size: 23px;
  font-weight: bold; }

/*MEDIA Q */
@media (max-width: 440px) {
  .galeria {
    flex-direction: column;
    display: flex;
    align-items: center; }
  .p__index {
    font-size: 25px;
    padding: auto; }
  .p__datos {
    background-color: white;
    font-size: 25px;
    border-color: black;
    border-style: solid; }
  .img__elemento1 p {
    font-size: 1.5rem; }
  .img__elemento2 p {
    font-size: 1.5rem; }
  .img__elemento3 p {
    font-size: 1.5rem; }
  .contenedor {
    width: 100%; }
  #carouselExampleIndicators {
    width: 80%; }
  .card__equipo {
    display: none; }
  .card__title__equipo {
    display: none; } }


